{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Настройки
{% endblock %}
{% block style %}
    <script src='{% static 'js/jquery.min.js' %}' , integrity='' , crossorigin='anonymous'></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
    <script src='{% static 'js/../../static/css/../../static/js/bootstrap.min.js.css' %}' , integrity='' ,
            crossorigin='anonymous'></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="alert alert-success alert-dismissible" role="alert">
          <strong></strong>Настройки успешно сохранены!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card">
            <form action="" method="post"> {% csrf_token %}
                <div class="card-body">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">Компании</span>
                      </div>
                      <input type="text" class="form-control" name="companies_input" aria-label="Компании" id="companies_input" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Время до выкупа заказа</span>
                      </div>
                      <input type="text" class="form-control" name="prebuy_time_input" aria-label="Время" id="prebuy_time_input" aria-describedby="basic-addon1">
                    </div>
                    <button type="submit" class="btn btn-success mb-2 float-right">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
    <script type="application/javascript">
        {% if type == 'updated' %}
            $('.alert').alert();
        {% else %}
            $('.alert').alert('close');
        {% endif %}
        var prtime = document.getElementById("prebuy_time_input");
        var comp = document.getElementById("companies_input");
        comp.value = '{{ current_companies }}';
        prtime.value = '{{ prebuy_time }}';
    </script>
{% endblock %}
{% block footer %}
{% endblock %}