{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Вход — Avangard Travel{% endblock %}
{% block content %}

    <script type="text/javascript">

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>

    <script type="text/javascript">


        {% if room_id != None  %}
            var room_id = {{ room_id }}
        {% else %}
            var room_id = undefined;
        {% endif %}

        {% if user_id != None  %}
            var user_id = {{ user_id }}
        {% else %}
            var user_id = undefined;
        {% endif %}

        var recipient_id;

        dialogs = [];

        messages = [];

        //Создание вебсокета
        var webSocket = new WebSocket('ws://' + window.location.host + '/chat/' + room_id);

        webSocket.onmessage = function (message) {

            message_obj = JSON.parse(message.data);
            item = message_obj.item;
            console.log(message_obj)
            if (message_obj.event === "new_message" && (item.sender.pk == user_id || item.sender.pk == recipient_id)) {
                messages.push(item);
                renderMessage(item);
                console.log($(".chat-history")[0].scrollHeight)
                $(".chat-history").scrollTop($(".chat-history")[0].scrollHeight)
            }
        };

        $(document).ready(function () {

            $.ajax({
                url: "get_dialogs/" + room_id,
                success: function (data) {
                    dialogs = data.dialogs;
                    if (dialogs.length > 0) {
                        renderDialogs();
                        $.ajax({
                            url: "/api/messages/?room_id=" + room_id + "&chat_id=" + dialogs[0].user_id,
                            success: function (data) {
                                messages = data.results;
                                if (messages.length > 0) {
                                    renderMessages();
                                    setupHeader(dialogs[0].name);
                                    recipient_id = dialogs[0].user_id
                                }
                            }
                        });
                    }
                }
            });
        });

        function sortArrByTimestamp(arr) {
            new_arr = arr.sort(function (a, b) {
                return Date.parse(a.timestamp) - Date.parse(b.timestamp);
            });
            return new_arr
        }

        function renderDialogs() {
            $(".people-list ul").remove();
            $ul_list = $('<ul />').appendTo('.people-list');
            $ul_list.attr('class', 'list');

            dialogs = sortArrByTimestamp(dialogs);

            dialogs.forEach(function (dialog) {
                renderDialog(dialog)
            });
        }

        function renderDialog(dialog) {
            $cur_li = $('<li />').appendTo('.people-list ul');
            $cur_li.attr('class', 'clearfix');
            $cur_li.attr('id', dialog.user_id);

            $cur_li.click(function () {
                selected_chat = this.id;
                $.ajax({
                    url: "/api/messages/?room_id=" + room_id + "&chat_id=" + this.id,
                    success: function (data) {
                        messages = data.results;
                        if (messages.length > 0) {
                            renderMessages();
                            setupHeader($.grep(dialogs, function (e) {
                                return e.user_id == data.chat_id;
                            })[0].name);
                            recipient_id = selected_chat;
                        }
                    }
                });
            });

            $div_about = $('<div class="about"><div/>').appendTo($cur_li);
            $div_name = $('<div class="name">' + dialog.name + '<div/>').appendTo($div_about);
            $div_status = $('<div class="status"><div/>').appendTo($div_about);

            if (dialog.out == true) {
                $span_text = $('<span class="preview_message">Вы: ' + dialog.text + '</span>').appendTo($div_status);
            } else {
                if (dialog.status == 1) {
                    $new_icon = $('<i class="fa fa-circle online"></i>').appendTo($div_status);
                }
                $span_text = $('<span class="preview_message">' + dialog.text + '</span>').appendTo($div_status);
            }

        }

        function renderMessages() {
            $(".chat-history").remove();

            $div_chat_history = $('<div />').prependTo('.chat');
            $div_chat_history.attr('class', 'chat-history');
            $div_chat_history.append('<ul />');

            messages = sortArrByTimestamp(messages);

            messages.forEach(function (message) {
                renderMessage(message)
            });

            $(".chat-history").scrollTop($(".chat-history")[0].scrollHeight)
        }

        function renderMessage(message) {
            $cur_li = $('<li />').appendTo('.chat-history ul');
            $cur_li.attr('class', 'clearfix');
            $message_data_div = $('<div />').appendTo($cur_li);

            if (message.sender.pk == user_id) {
                $message_data_div.attr('class', 'message-data align-right');
                $message_data_div.append('<span class="message-data-time">' + message.timestamp + ' </span> &nbsp; &nbsp;');
                $message_data_div.append('<span class="message-data-name">' + message.sender.first_name + ' ' + message.sender.last_name + ' <i class="fa fa-circle me"></i> </span>');
                $cur_li.append('<div class="message other-message float-right">' + message.text + '</div>')
            } else {
                $message_data_div.attr('class', 'message-data');
                $message_data_div.append('<span class="message-data-name"><i class="fa fa-circle online"> </i> ' + message.sender.first_name + ' ' + message.sender.last_name + ' </span>');
                $message_data_div.append('<span class="message-data-time"> ' + message.timestamp + ' </span>');
                $cur_li.append('<div class="message my-message">' + message.text + '</div>')
            }
        }

        function setupHeader(name) {
            $(".chat-header").remove();
            $div_chat_header = $('<div />').prependTo('.chat');
            $div_chat_header.attr('class', 'chat-header clearfix');

            $div_chat_about = $('<div />').appendTo('.chat-header');
            $div_chat_about.attr('class', 'chat-about');
            $div_chat_with = $('<div />').appendTo('.chat-about');
            $div_chat_with.attr('class', 'chat-with');
            $div_chat_with.append('Chat with ' + name)
        }

        $(function () {
            $(".send-button").click(function () {
                var message = $("#message-to-send").val();
                if ($.trim(message).length > 0) {
                    $.ajax({
                        url: "/api/messages/",
                        type: "post",
                        data: JSON.stringify({
                            sender_id: user_id,
                            recipient_id: recipient_id,
                            text: message,
                            room_id: room_id
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            console.log("ok")
                        }
                    });
                }
            });
        });


    </script>


    <link rel="stylesheet" type="text/css" href="{% static "css/dialog_list.css" %}">
    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <div class="search">
                <input type="text" placeholder="search"/>
                <i class="fa fa-search"></i>
            </div>
            <ul class="list">
            </ul>
        </div>

        <div class="chat">
            <div class="chat-message clearfix">
                <textarea name="message-to-send" id="message-to-send" placeholder="Type your message"
                          rows="3"></textarea>

                <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                <i class="fa fa-file-image-o"></i>

                <button class="send-button">Send</button>

            </div> <!-- end chat-message -->

        </div> <!-- end chat -->

    </div> <!-- end container -->

    <script id="message-template" type="text/x-handlebars-template">
        <li class="clearfix">
            <div class="message-data align-right">
                <span class="message-data-time">{{ time }}, Today</span> &nbsp; &nbsp;
                <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>
            </div>
            <div class="message other-message float-right">
                {{ messageOutput }}
            </div>
        </li>
    </script>

    <script id="message-response-template" type="text/x-handlebars-template">
        <li>
            <div class="message-data">
                <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                <span class="message-data-time">{{ time }}, Today</span>
            </div>
            <div class="message my-message">
                {{ response }}
            </div>
        </li>
    </script>

{% endblock %}
{% block footer %}
{% endblock %}