{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Чат — Avangard Travel{% endblock %}
{% block content %}

    <script type="text/javascript">

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>

    <script type="text/javascript">

        {% if room_id != None  %}
            var room_id = {{ room_id }}
        {% else %}
            var room_id = undefined;
        {% endif %}

        {% if user_id != None  %}
            var user_id = {{ user_id }}
        {% else %}
            var user_id = undefined;
        {% endif %}

        var recipient_id;
        var dialogs = [];
        var messages = [];
        var next = "";
        var scrollHeight_old = 0;
        var scrollHeight_new = 0;

        //Создание вебсокета
        var webSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + room_id);

        webSocket.onmessage = function (message) {

            var message_obj = JSON.parse(message.data);
            var item = message_obj.item;
            console.log(item);
            if (message_obj.event === "new_message" && (item.sender.pk === user_id || item.sender.pk === recipient_id)) {
                messages.push(item);
                renderMessage(item);
                $(".chat-history").scrollTop($(".chat-history")[0].scrollHeight)
            }
            var found = false;
            for(var i = 0; i < dialogs.length; i++) {
                if ((dialogs[i].user_id == item.recipient.pk) || (dialogs[i].user_id == item.sender.pk)) {
                    found = true;
                    break;
                }
            }
            add_last_message(item, found);
            found = false;
        };

        document.addEventListener('scroll', function (event) {
            if (event.target.id === 'chat-history') {
                if ($('.chat-history').scrollTop() === 0){
                        $('#loader').css("display", "block");
                        var last_id = messages[0].pk;
                        setTimeout(function () {
                            if (next !== null) {
                                $.ajax({
                                    url: next,
                                    success: function (data) {
                                        data.results.forEach(function (message) {
                                            messages.unshift(message);
                                        })
                                        if (messages.length > 0) {
                                            renderMessages();
                                            setupHeader(dialogs[0].name);
                                            recipient_id = dialogs[0].user_id;
                                        }
                                        next = data.next;
                                    }
                                })
                            }
                            $('#loader').css("display", "none");
                        }, 700);
                }
            }
        }, true);

        $(document).ready(function () {
            $.ajax({
                url: "get_dialogs/" + room_id,
                success: function (data) {
                    dialogs = data.dialogs;
                    if (dialogs.length > 0) {
                        renderDialogs();
                        $.ajax({
                            url: "/api/messages/?room_id=" + room_id + "&chat_id=" + dialogs[0].user_id,
                            success: function (data) {
                                messages = data.results;
                                next = data.next;
                                if (messages.length > 0) {
                                    renderMessages();
                                    setupHeader(dialogs[0].name);
                                    recipient_id = dialogs[0].user_id;
                                }
                            }
                        });
                    }
                }
            });
        });

        function add_last_message(item, exist) {
            if (exist) {
                dialogs.forEach(function(dialog){
                    if ((dialog.user_id == item.recipient.pk) || (dialog.user_id == item.sender.pk)) {
                        dialog.text = item.text;
                        dialog.timestamp = item.timestamp;
                        dialog.out = item.sender.pk == 1;
                        renderDialogs();
                    }
                })
            } else {
                dialogs.push({'user_id': item.sender.pk, 'name': item.sender.first_name + " " + item.sender.last_name, 'text': item.text, 'status': item.status, 'out': false, 'timestamp': item.timestamp})
                renderDialogs();
            }
        }

        function sortArrByTimestamp(arr, reverse) {
            return arr.sort(function (a, b) {
                if (reverse) {
                    return Date.parse(b.timestamp) - Date.parse(a.timestamp);
                } else
                return Date.parse(a.timestamp) - Date.parse(b.timestamp);
            })
        }

        function renderDialogs() {
            $(".people-list ul").remove();
            var $ul_list = $('<ul />').appendTo('.people-list');
            $ul_list.attr('class', 'list');
            dialogs = sortArrByTimestamp(dialogs, true);
            dialogs.forEach(function (dialog) {
                renderDialog(dialog)
            });
        }

        function renderDialog(dialog) {
            var $cur_li = $('<li />').appendTo('.people-list ul');
            $cur_li.attr('class', 'clearfix');
            $cur_li.attr('id', dialog.user_id);

            $cur_li.click(function () {
                var selected_chat = this.id;
                $.ajax({
                    url: "/api/messages/?room_id=" + room_id + "&chat_id=" + this.id,
                    success: function (data) {
                        messages = data.results;
                        next = data.next;
                        if (messages.length > 0) {
                            scrollHeight_old = 0;
                            renderMessages();
                            setupHeader($.grep(dialogs, function (e) {
                                return e.user_id == data.chat_id;
                            })[0].name);
                            recipient_id = selected_chat;
                        }
                    }
                });
            });

            var $div_about = $('<div class="about"><div/>').appendTo($cur_li);
            var $div_name = $('<div class="name">' + dialog.name + '<div/>').appendTo($div_about);
            var $div_status = $('<div class="status"><div/>').appendTo($div_about);

            if (dialog.out == true) {
                var $span_text = $('<span class="preview_message">Вы: ' + dialog.text + '</span>').appendTo($div_status);
            } else {
                if (dialog.status == 1) {
                    var $new_icon = $('<i class="fa fa-circle online"></i>').appendTo($div_status);
                }
                $span_text = $('<span class="preview_message">' + dialog.text + '</span>').appendTo($div_status);
            }

        }

        function renderMessages() {
            $(".chat-history").remove();

            var $div_chat_history = $('<div />').prependTo('.chat');
            $div_chat_history.attr('class', 'chat-history');
            $div_chat_history.attr('id', 'chat-history');
            $div_chat_history.append('<img id="loader" src=\'/static/Ripple.gif\'>');
            $div_chat_history.append('<ul />');

            messages = sortArrByTimestamp(messages, false);

            messages.forEach(function (message) {
                renderMessage(message)
            });

            scrollHeight_new = $(".chat-history")[0].scrollHeight;
            console.log(scrollHeight_new);

            $(".chat-history").scrollTop(scrollHeight_new - scrollHeight_old);
            scrollHeight_old = scrollHeight_new - scrollHeight_old;
            console.log(scrollHeight_old);
        }

        function renderMessage(message) {
            $cur_li = $('<li />').appendTo('.chat-history ul');
            $cur_li.attr('class', 'clearfix');
            $message_data_div = $('<div />').appendTo($cur_li);

            if (message.sender.pk == user_id) {
                $message_data_div.attr('class', 'message-data align-right');
                $message_data_div.append('<span class="message-data-time">' + message.timestamp + ' </span> &nbsp; &nbsp;');
                $message_data_div.append('<span class="message-data-name">' + message.sender.first_name + ' ' + message.sender.last_name + ' <i class="fa fa-circle me"></i> </span>');
                $cur_li.append('<div class="message other-message float-right">' + message.text + '</div>')
            } else {
                $message_data_div.attr('class', 'message-data');
                $message_data_div.append('<span class="message-data-name"><i class="fa fa-circle online"> </i> ' + message.sender.first_name + ' ' + message.sender.last_name + ' </span>');
                $message_data_div.append('<span class="message-data-time"> ' + message.timestamp + ' </span>');
                $cur_li.append('<div class="message my-message">' + message.text + '</div>')
            }
        }

        function setupHeader(name) {
            $(".chat-header").remove();
            $div_chat_header = $('<div />').prependTo('.chat');
            $div_chat_header.attr('class', 'chat-header clearfix');

            $div_chat_about = $('<div />').appendTo('.chat-header');
            $div_chat_about.attr('class', 'chat-about');
            $div_chat_with = $('<div />').appendTo('.chat-about');
            $div_chat_with.attr('class', 'chat-with');
            $div_chat_with.append('Chat with ' + name)
        }

        $(function () {
            $(".send-button").click(function () {
                var message = $("#message-to-send").val();
                if ($.trim(message).length > 0) {
                    $.ajax({
                        url: "/api/messages/",
                        type: "post",
                        data: JSON.stringify({
                            sender_id: user_id,
                            recipient_id: recipient_id,
                            text: message,
                            room_id: room_id
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            console.log("ok");
                            $("#message-to-send").val("");
                        }
                    });
                }
            });
        });


    </script>


    <link rel="stylesheet" type="text/css" href="{% static "css/dialog_list.css" %}">
    <div class="container clearfix">
        <div class="people-list" id="people-list">
            <div class="museum clearfix">
                <div class="museum-title">
                    <div class="museum-text">{{ museum }}</div>
                </div>
            </div>
            <ul class="list">
            </ul>
        </div>

        <div class="chat">
            <div class="chat-message clearfix">
                <textarea name="message-to-send" id="message-to-send" placeholder="Type your message"
                          rows="2"></textarea>

                <button class="send-button">Send</button>

            </div> <!-- end chat-message -->

        </div> <!-- end chat -->

    </div> <!-- end container -->

    <script id="message-template" type="text/x-handlebars-template">
        <li class="clearfix">
            <div class="message-data align-right">
                <span class="message-data-time">{{ time }}, Today</span> &nbsp; &nbsp;
                <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>
            </div>
            <div class="message other-message float-right">
                {{ messageOutput }}
            </div>
        </li>
    </script>

    <script id="message-response-template" type="text/x-handlebars-template">
        <li>
            <div class="message-data">
                <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                <span class="message-data-time">{{ time }}, Today</span>
            </div>
            <div class="message my-message">
                {{ response }}
            </div>
        </li>
    </script>

{% endblock %}
{% block footer %}
{% endblock %}