{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Создать музей{% endblock %}

{% block content %}
<div class="container" style="width: 50%">

    <div class="panel-heading">
        <div class="panel-title text-center">
            {% if type == 'edit' %}
                <h1 class="title">Редактировать музей</h1>
            {% else %}
                <h1 class="title">Добавить музей</h1>
            {% endif %}
            <hr />
        </div>
    </div>

    <form action='' method="post"> {% csrf_token %}
        <div class="form-group">
            <label for="name">Название:</label>
            {{ form.name }}
        </div>

        <div class="form-group">
            <label for="max_count">Квота:</label>
            {{ form.max_count }}
        </div>

        <div class="checkbox">
            <label>{{ form.audioguide }} Аудиогид</label>
        </div>

        <div class="checkbox">
            <label>{{ form.accompanying_guide }} Сопровождающий гид</label>
        </div>

        <!--
        <div class="form-group">
            <label for="image">Изображение:</label>
            <input type="file" class="form-control" id="image">
        </div>
        -->

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 20px">
                {% if type == 'edit' %}Изменить{% else %}Создать{% endif %}
            </button>
        </div>
    </form>


</div>

<script src='{% static 'js/jquery.min.js' %}' , integrity='' , crossorigin='anonymous'></script>
<script src='{% static 'js/../../../static/css/bootstrap.min.js.css' %}' , integrity='' , crossorigin='anonymous'></script>
{% endblock %}
{% block footer %}
{% endblock %}