{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Создать музей{% endblock %}

{% block content %}
<div class="container" style="width: 50%">

    <div class="panel-heading">
        <div class="panel-title text-center">
            {% if type == 'edit' %}
                <h1 class="title">Редактировать музей</h1>
            {% else %}
                <h1 class="title">Добавить музей</h1>
            {% endif %}
            <hr />
        </div>
    </div>

    <form action='' method="post"> {% csrf_token %}
        <div class="form-group">
            <label for="name">Название:</label>
            {{ form.name }}
        </div>

        <div class="form-group">
            <label for="fullticket_price">Взрослый билет, цена:</label>
            {{ form.fullticket_price }}
        </div>

        <div class="form-group">
            <label for="full_coefficient">Коэффициент стоимости для взрослого билета:</label>
            {{ form.full_coefficient }}
        </div>

        <div class="form-group">
            <label for="reduceticket_price">Льготный билет, цена:</label>
            {{ form.reduceticket_price }}
        </div>

        <div class="form-group">
            <label for="reduce_coefficient">Коэффициент стоимости для льготного билета:</label>
            {{ form.reduce_coefficient }}
        </div>

        <div class="form-group">
            <label for="audioguide_price">Стоимость аудиогида:</label>
            {{ form.audioguide_price }}
        </div>

        <div class="form-group">
            <label for="accompanying_guide_price">Стоимость сопровождающего гида:</label>
            {{ form.accompanying_guide_price }}
        </div>

        <div class="form-group">
            <label for="max_count">Макс. кол-во человек в группе:</label>
            {{ form.max_count }}
        </div>
        
        <!--
        <div class="form-group">
            <label for="image">Изображение:</label>
            <input type="file" class="form-control" id="image">
        </div>
        -->

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 20px">
                {% if type == 'edit' %}Изменить{% else %}Создать{% endif %}
            </button>
        </div>
    </form>


</div>

<script src='{% static 'js/jquery.min.js' %}' , integrity='' , crossorigin='anonymous'></script>
<script src='{% static 'js/../../../static/css/bootstrap.min.js.css' %}' , integrity='' , crossorigin='anonymous'></script>
{% endblock %}
{% block footer %}
{% endblock %}