{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Список музеев{% endblock %}

{% block content %}
    {% include "table.html" %}
    <script src='{% static 'js/jquery.min.js' %}' , integrity='' , crossorigin='anonymous'></script>
    <script src='{% static 'js/../../../static/css/bootstrap.min.js.css' %}' , integrity='' ,
            crossorigin='anonymous'></script>
    <style type="text/css">
        .operation {
            margin: 3px;
        }
    </style>
{% endblock %}
{% block footer %}
{% endblock %}