{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Расписание{% endblock %}

{% block style %}
    <script src='{% static 'js/jquery.min.js' %}' , integrity='' , crossorigin='anonymous'></script>
    <script src='{% static 'js/../../static/css/../../static/js/bootstrap.min.js.css' %}' , integrity='' ,
            crossorigin='anonymous'></script>
    <script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

    <script type="text/javascript">
        var d = new Date();
        var dateStr = moment(d).format('YYYY-MM-DD');
        var isDateSet = false
    </script>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
{% endblock %}

{% block content %}

    <div class="container" style="width: 80%">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Расписание - {{ museum.name }} </h1>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="overflow:hidden;">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="datepicker12">{{ form.date }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3 style="margin-top: 0;" class="date">
                        <script>
                            var curDate = new Date().toLocaleDateString()
                            document.write(curDate);
                        </script>
                </h3>
                <div class="table-div">
                    {% include 'schedule_table.html' %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {

            $('#datepicker12').datepicker({
                inline: true,
                sideBySide: true,
                todayHighlight: true,
                format: 'yyyy-mm-dd'
            });

            $('#datepicker12').on('changeDate', function () {
                isDateSet = true
                date = $('#datepicker12').datepicker('getFormattedDate');
                dateStr = date
                $('.date').html(new Date(date).toLocaleDateString());
                $("#jsGrid").jsGrid("render").done(function() {
                    console.log("rendering completed and data loaded");
                });
            });

            $('#datepicker12').datepicker('setDate', dateStr);
        });

    </script>

    <script src='{% static 'js/bootstrap.min.js.css' %}' , integrity='', crossorigin='anonymous'></script>
{% endblock %}

{% block footer %}

{% endblock %}