<div id="jsGrid"></div>

<script type="text/javascript">

    var webSocket = new WebSocket('ws://' + window.location.host + '/schedule/');

    webSocket.onmessage = function (message) {
        message_obj = JSON.parse(message.data);
        item = message_obj.item;
        index = $.map(schedule, function (x, index) {
            if (x.pk == item.pk) {
                return index;
            }
        });
        if (index[0] !== undefined) {
            if (message_obj.event === "schedule_updated") {
                schedule[index[0]] = item;
                $("#jsGrid").jsGrid("render").done(function () {
                });
            } else if (message_obj.event === "schedule_deleted") {
                schedule.splice(index[0], 1);
                $("#jsGrid").jsGrid("render").done(function () {
                });
            }
        } else if (message_obj.event === "schedule_created" && item.date == dateStr) {
            schedule.push(item)
            $("#jsGrid").jsGrid("render").done(function () {
            });
        }
    };


    get_companies = function () {
        $.ajax({
            type: "GET",
            url: "/api/companys/?format=json",
            success: function (data) {
                console.log(data);
            }
        });
    };

    $(function () {
        jsGrid.validators.start_time = {
            message: "Введите верное время в промежутке между 00:00 и 23:59",
            validator: function (value, item) {
                return /^([01]\d|2[0-3]|[0-9])(:[0-5]\d){1,2}$/.test(value);
            }
        };

        jsGrid.validators.end_time = {
            message: "Введите верное время в промежутке между 00:00 и 23:59",
            validator: function (value, item) {
                if ((typeof value == 'undefined') || value == '-' || value == '') {
                    value = '-';
                    return true
                }
                console.log(/^([01]\d|2[0-3]|[0-9])(:[0-5]\d){1,2}$/.test(value));
                return /^([01]\d|2[0-3]|[0-9])(:[0-5]\d){1,2}$/.test(value);
            }
        };

        $("#jsGrid").jsGrid({
            width: "100%",

            inserting: true,
            filtering: false,
            editing: true,
            sorting: true,
            paging: false,
            autoload: true,


            onItemUpdating: function (args) {
                previousItem = args.previousItem;
            },

            controller: {
                loadData: function (filter) {
                    if (isDateSet == true) {
                        var d = $.Deferred();
                        if (schedule === undefined) {
                            $.ajax({
                                type: "GET",
                                url: "/api/schedule/?format=json&date=" + dateStr + "&museum_id={{ museum.pk }}"
                            }).done(function (result) {
                                schedule = result;
                                d.resolve(result)
                            });
                        } else {
                            d.resolve(schedule)
                        }
                        return d.promise();
                    }
                },

                insertItem: function (item) {
                    if (typeof item.full_count == 'undefined') {
                        item.full_count = 0
                    }
                    if (typeof item.reduce_count == 'undefined') {
                        item.reduce_count = 0
                    }

                    item.museum_id = {{ museum.pk }};

                    item.date = dateStr;

                    var d = $.Deferred();

                    $.ajax({
                        type: "POST",
                        url: "/schedule/create",
                        data: item
                    }).done(function (response) {
                        item.pk = response.id;
                        item.reduce_price = response.reduce_price;
                        item.full_price = response.full_price;
                        d.resolve(item);
                    }).fail(function () {
                        return false
                    });

                    //return d.promise();
                },

                updateItem: function (updatingItem) {
                    var d = $.Deferred();
                    $.ajax({
                        type: "POST",
                        url: "/schedule/update/" + updatingItem.pk,
                        data: updatingItem
                    }).done(function (response) {
                        updatingItem.full_price = response.full_price;
                        updatingItem.reduce_price = response.reduce_price;
                        d.resolve(updatingItem);
                    }).fail(function () {
                        d.resolve(previousItem);
                    });
                    return d.promise();
                },

                deleteItem: function (item) {
                    $.ajax({
                        type: "DELETE",
                        url: "/schedule/delete/" + item.pk
                    });
                }
            },

            fields: [
                {name: "pk", title: "ID", type: "text", align: "center", editing: false, visible: false},
                {
                    name: "start_time",
                    validate: {validator: "start_time"},
                    align: "center",
                    title: "Начало",
                    type: "text",
                    width: 100
                },
                {
                    name: "end_time",
                    validate: {validator: "end_time"},
                    align: "center",
                    title: "Конец",
                    type: "text",
                    width: 100
                },
                {
                    name: "full_coefficient_string",
                    title: "Коэффициент взрослого",
                    type: "text",
                    align: "center",
                    width: 225
                },
                {
                    name: "reduce_coefficient_string",
                    title: "Коэффициент льготного",
                    type: "text",
                    align: "center",
                    width: 225
                },
                {name: "full_count", title: "Квота билетов взрослых", type: "number", align: "center", width: 125},
                {name: "reduce_count", title: "Квота билетов льготных", type: "number", align: "center", width: 125},
                {
                    name: "company_id",
                    title: "Компания",
                    type: "select",
                    align: "center",
                    width: 200,
                    items: [{pk: 1, name: "Avangard One"}, {pk: 2, name: "Avangard Two"}, {
                        pk: 3,
                        name: "Avangard Three"
                    }],
                    valueField: "pk",
                    textField: "name"
                },
                {
                    name: "full_price",
                    title: "Цена взрослого",
                    type: "number",
                    align: "center",
                    width: 100,
                    editing: false,
                    inserting: false
                },
                {
                    name: "reduce_price",
                    title: "Цена льготного",
                    type: "number",
                    align: "center",
                    width: 100,
                    editing: false,
                    inserting: false
                },
                {type: "control", modeSwitchButton: false, editButton: false}
            ]
        });

    });
</script>