{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Прокси-карты
{% endblock %}
{% block style %}
    <style>
        .status_confirmed {
            background-color: rgba(234, 255, 208, 0.6);
        }
        .status_new {
            background-color: rgba(252, 227, 138, 0.6);
        }
    </style>
    <script src='{% static 'js/jquery.min.js' %}' , integrity='' , crossorigin='anonymous'></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
    <script src='{% static 'js/../../static/css/../../static/js/bootstrap.min.js.css' %}' , integrity='' ,
            crossorigin='anonymous'></script>
    <script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Заявки на прокси-карты</h2>
        <br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Отправитель</th>
                <th scope="col">Дата прибытия</th>
                <th scope="col">Корабль</th>
                <th scope="col">Статус</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for record in all_pc %}
                <tr {% if record.status == 1 %} class="status_new" {% else %} class="status_confirmed" {% endif %}>
                    <td>{{ record.id }}</td>
                    <td>{{ record.sender_name }}</td>
                    <td>{{ record.arrival_date }}</td>
                    <td>{{ record.vessel }}</td>
                     <td>
                        {% if record.status == 1 %}
                            Новый
                            {% else %}
                            Подтверждено
                        {% endif %}
                    </td>
                    <td style="text-align:center">
                        <a href="/proxycard/edit/{{ record.id }}" title="Просмотреть и редактировать">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="/proxycard/create/{{ record.id }}" title="Создать прокси-карту">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="/proxycard/delete/{{ record.id }}" title="Удалить">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}