@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body, html {
    height: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    background: #444753;
    font: 16px/22px "Lato", Arial, sans-serif;
    color: white;
    padding: 0;
    height: 94.0%;
}

li {
    list-style-type: none;
}

.people-list {
    width: 20%;
    float: left;
    position: relative
}

.people-list .museum {
    padding: 20px;
    border-bottom: 2px solid white;
}

.people-list .museum .museum-title{
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.people-list .museum .museum-title .museum-text{
    font-weight: bold;
    font-size: 18px;
}

.people-list ul {
    padding: 20px;
}

.people-list .list {
    box-sizing: border-box;
    color: rgb(67, 70, 81);
    display: block;
    font-variant-caps: normal;
    height: 670px;
    overflow-y: scroll;
}

.people-list ul li {
    padding-bottom: 20px;
    width: 100%;
    cursor: pointer;
}

.people-list ul li:hover {
    background-color: #6b6e7a;
    border-radius: 5px;
    cursor: hand;
}

.people-list img {
    float: left;
}

.people-list .about {
    float: left;
    margin-top: 20px;
}

.people-list .about {
    padding-left: 8px;
}

.people-list .status {
    color: #92959E;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    position: relative;
}

.people-list .name {
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat {
    width: 80%;
    float: left;
    background: #F2F5F8;
    color: #434651;
}

.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}

.chat .chat-header img {
    float: left;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959E;
}

.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 560px;
    width: 100%;
}

#loader {
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 70px;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid transparent;
    border-bottom-color: #86BB71;
    margin-left: -10px;
}

.chat .chat-history .my-message {
    background: #86BB71;
}

.chat .chat-history .other-message {
    background: #94C2ED;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
}

.chat .chat-message {
    padding: 30px;
}

.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}

.chat .chat-message button:hover {
    color: #75b1e8;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}