{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Вход — Avangard Travel{% endblock %}
{% block content %}
<div class="container" style="width: 500px;">
        <div class="panel-heading">
           <div class="panel-title text-center">
                <h1 class="title">Вход</h1>
                <hr />
            </div>
        </div>
        <form class="" method="post" action="{% url 'login' %}">{% csrf_token %}
          <div class="form-group">
            <label for="username">Имя пользователя: </label> {{ form.username }}
          </div>
          <div class="form-group">
            <label for="password">Пароль: </label> {{ form.password }}
          </div>
          <button type="submit" class="btn btn-primary">Войти</button>
        </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}