{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Список заказов{% endblock %}
{% block style %}
    <script src='{% static 'js/jquery.min.js' %}' , integrity='' , crossorigin='anonymous'></script>
    <script src='{% static 'js/../../static/css/../../static/js/bootstrap.min.js.css' %}' , integrity='' ,
            crossorigin='anonymous'></script>
    <script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
    <style type="text/css">
        table {
            font-size: 14px;
            font-weight: 300;
        }

        .jsgrid-cell, .jsgrid-header-cell {
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "orders_table.html" %}
{% endblock %}
{% block footer %}
{% endblock %}