{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Список заказов{% endblock %}
{% block style %}
    <script src='{% static 'js/jquery.min.js' %}' , integrity='' , crossorigin='anonymous'></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
    <script src='{% static 'js/../../static/css/../../static/js/bootstrap.min.js.css' %}' , integrity='' ,
            crossorigin='anonymous'></script>
    <script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.min.css' %}">
    <style type="text/css">
        table {
            font-size: 14px;
            font-weight: 300;
        }
        .jsgrid-insert-row {
            visibility: collapse;
        }

        .jsgrid-row > .jsgrid-cell {
            background: inherit !important;
        }

        .jsgrid-alt-row > .jsgrid-cell {
            background: inherit !important;
        }

        .jsgrid-selected-row > .jsgrid-cell {
            border-color: ghostwhite !important;
            background: inherit;
        }

        .jsgrid-new-item {
            background: rgba(252, 227, 138, 0.6);
            height: 57px;
        }

        .jsgrid-denied-item {
            background: rgba(243, 129, 129, 0.6);
            height: 57px;
        }

        .jsgrid-approved-item {
            background-color: rgba(234, 255, 208, 0.6);
            height: 57px;
        }

        .jsgrid-purchased-item {
            background-color: rgba(207, 216, 220, 0.6);
            height: 57px;
        }

        .jsgrid-default-item {
            background-color: rgba(255, 255, 255, 0.6);
            height: 57px;
        }

        .jsgrid-cell, .jsgrid-header-cell {
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "orders_table.html" %}
{% endblock %}
{% block footer %}
{% endblock %}