<div class="container">
    <p class="text-nowrap text-right" style="margin-bottom: 15px; margin-top: -15px;"><span class="jsgrid-new-item">&nbsp;Новый&nbsp;</span>&nbsp;&nbsp;&nbsp;
    <span class="jsgrid-approved-item">&nbsp;Одобрен&nbsp;</span>&nbsp;&nbsp;&nbsp;
    <span class="jsgrid-purchased-item">&nbsp;Оплачен&nbsp;</span>&nbsp;&nbsp;&nbsp;
    <span class="jsgrid-ready-item">&nbsp;Собран&nbsp;</span>&nbsp;&nbsp;&nbsp;
    <span class="jsgrid-passed-item">&nbsp;Передан&nbsp;</span>&nbsp;&nbsp;&nbsp;
    <span class="jsgrid-scanned-item">&nbsp;Отсканирован&nbsp;</span>&nbsp;&nbsp;&nbsp;
    <span class="jsgrid-denied-item">&nbsp;Отказан&nbsp;</span></p>
</div>
<div id="jsGrid"></div>

<script type="text/javascript">

    //Идентификатор последней добавленной записи

    var curPageIndex = 1;
    var ordersCount = 0;
    var orders;

    //Создание вебсокета
    var webSocket = new WebSocket('ws://' + window.location.host + '/ws/orders/');

    webSocket.onmessage = function (message) {
        var message_obj = JSON.parse(message.data);
        var item = message_obj.item;
        var index = $.map(orders, function (x, index) {
            if (x.pk === item.pk) {
                return index;
            }
        });
        if (index[0] !== undefined) {
            if (message_obj.event === "order_updated") {
                orders[index[0]] = item;
                $("#jsGrid").jsGrid("render").done(function () {
                });
            } else if (message_obj.event === "order_deleted") {

                orders.splice(index[0], 1);
                $("#jsGrid").jsGrid("render").done(function () {
                });
            }
        } else if (message_obj.event === "order_created" && curPageIndex === 1) {
            orders.unshift(item);
            orders.pop();
            $("#jsGrid").jsGrid("render").done(function () {
            });
        }
    };

    function format_date(date_string) {
        var d = new Date(date_string);
        return d.getDate() + '.' + d.getMonth() + '.' + d.getFullYear();
    }

    function createSubscription() {
        {% if type == "current" %}
            subscribe();
            // language=JavaScript
            setInterval(subscribe(), 10000);
        {% endif %}
    }

    //Параметры таблицы

    $(function () {

        $("#jsGrid").jsGrid({
            width: "100%",

            filtering: false,
            editing: false,
            sorting: true,
            paging: true,
            inserting: false,
            autoload: true,
            pageLoading: true,
            pageSize: 10,

            controller: {
                loadData: function (filter) {

                    //Получение сведений о текущей дате и фильтрация

                    var date = new Date();
                    var dateStr = moment(date).format('YYYY-MM-DD HH:mm:ss');

                    {% if type == "current" %}
                        var url = "/api/orders/?format=json&date_gte=" + dateStr;
                    {% else %}
                        var url = "/api/orders/?format=json&date_lte=" + dateStr;
                    {% endif %}

                    var d = $.Deferred();

                    url += "&page=" + filter.pageIndex;

                    if (orders === undefined || curPageIndex !== filter.pageIndex) {
                        curPageIndex = filter.pageIndex;
                        $.ajax({
                            type: "GET",
                            url: url
                        }).done(function (result) {
                            var data = $.map(result.results, function (item) {
                                var seance = item.seance.start_time;
                                if (item.seance.end_time !== null) {
                                    seance += " - ";
                                    seance += item.seance.end_time
                                }
                                return $.extend(item, {
                                    museum: item.museum.name,
                                    date: item.seance.date,
                                    seance: seance,
                                    company: item.seance.company_id
                                });
                            });
                            orders = data;
                            ordersCount = result.count;
                            d.resolve({data: data, itemsCount: ordersCount});
                        });
                    } else {
                        d.resolve({data: orders, itemsCount: ordersCount});
                    }
                    return d.promise();
                }
                ,

                deleteItem: function (item) {
                    return $.ajax({
                        type: "DELETE",
                        url: "/orders/delete/" + item.pk
                    });
                }
            },

            fields: [
                {name: "pk", title: "№", type: "text", align: "center", width: 40, editing: false},
                {name: "name", title: "Имя", type: "text", align: "center", width: 50, editing: false},
                {name: "phone", title: "Телефон", type: "text", align: "center", width: 80, editing: false},
                {name: "email", title: "Email", type: "text", align: "center", width: 80, editing: false},
                {name: "date", title: "Дата", type: "text", align: "center", width: 80, editing: false},
                {
                    name: "company", title: "Компания", type: "text", align: "center", width: 75, editing: false,
                    itemTemplate: function (value, item) {
                        return value;
                    }
                },
                {name: "museum", title: "Музей", type: "text", align: "center", width: 100, editing: false},
                {name: "seance", title: "Время", type: "text", align: "center", width: 75, editing: false},
                {
                    name: "fullticket_count",
                    title: "Кол-во взрослых",
                    type: "number",
                    align: "center",
                    width: 65,
                    editing: false
                },
                {
                    name: "reduceticket_count",
                    title: "Кол-во льготных",
                    type: "number",
                    align: "center",
                    width: 65,
                    editing: false
                },
                {
                    name: "audioguide",
                    title: "Аудио",
                    type: "text",
                    align: "center",
                    width: 50,
                    editing: false,
                    itemTemplate: function (value, item) {
                        var iconClass = "";
                        if (value === true) {
                            iconClass = "fa fa-check";
                        } else if (value === false) {
                            iconClass = "fa fa-times";
                        }
                        return $("<i>").attr("class", iconClass);
                    }
                },
                {
                    name: "accompanying_guide",
                    title: "Сопр. гид",
                    type: "text",
                    align: "center",
                    width: 80,
                    editing: false,
                    itemTemplate: function (value, item) {
                        var iconClass = "";
                        if (value === true) {
                            iconClass = "fa fa-check";
                        } else if (value === false) {
                            iconClass = "fa fa-times";
                        }
                        return $("<i>").attr("class", iconClass);
                    }
                },
                {
                    name: "status", align: "center", title: "Статус", itemTemplate: function (value, item) {

                    //Создание select элемента содержащего статус заказа

                    var arr = [
                        {val: 1, text: 'Новый'},
                        {val: 2, text: 'Одобрен'},
                        {val: 3, text: 'Оплачен'},
                        {val: 4, text: 'Собран'},
                        {val: 5, text: 'Передан'},
                        {val: 6, text: 'Отсканирован'},
                        {val: 7, text: 'Отказан'}
                    ];
                    var sel = $('<select>');
                    {% if type == "current" %}
                    {% else %}
                    sel.attr('disabled', 'true')
                    {% endif %}
                    $(arr).each(function () {
                        var sel_option = $("<option>").attr('value', this.val).text(this.text);
                        if (value === this.val) {
                            sel_option.attr('selected', 'true')
                        }
                        sel.append(sel_option);
                    });

                    return sel
                            .on("change", function () {
                                return $.ajax({
                                    type: "POST",
                                    data: {"new_status": this.value},
                                    url: "/orders/update_status/" + item.pk
                                }).then(item.status = parseInt(this.value))
                            })
                }
                },
                {
                    name: "qr_code", title: "QR", type: "text", align: "center", width: 50, editing: false,
                    itemTemplate: function (value, item) {
                        if (value != "") {
                            return $("<a>").attr("href", "/media" + value).append($("<i>").attr("class", "fa fa-qrcode"));
                        } else {
                            return $("<i>").attr("class", "fa fa-times");
                        }
                    }
                },
                {name: "full_price", title: "Цена", type: "number", align: "center", width: 50, editing: false},
                {
                    type: "control", modeSwitchButton: false, editButton: false, editing: false, width: 75,
                    itemTemplate: function (value, item) {
                        var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                        {% if type == "current" %}
                            var $a = $("<a>").attr("href", "/orders/edit/" + item.pk).addClass("jsgrid-button").addClass("jsgrid-edit-button");
                            var $customButton = $("<input>").addClass("jsgrid-button").addClass("jsgrid-edit-button").attr({type: "button"});
                            if ((parseInt(item.status) === 4) || (parseInt(item.status) === 3) || (parseInt(item.status) === 5)) {
                                $customButton.css('display','none');
                            }
                            $a.append($customButton);
                            var $res = $result.add($a);
                            var $a = $("<a>").attr("href", "/orders/info/" + item.pk).addClass("jsgrid-button").addClass("jsgrid-search-button");
                            var $customButton = $("<input>").addClass("jsgrid-button").addClass("jsgrid-search-button").attr({type: "button"});
                            $a.append($customButton);
                            return $res.add($a);
                        {% else %}
                            return $result;
                        {% endif %}
                    }
                }
            ],

            rowClass: function (item, itemIndex) {
                switch (item.status) {
                    case 1:
                        return "jsgrid-new-item";
                    case 2:
                        return "jsgrid-approved-item";
                    case 3:
                        return "jsgrid-purchased-item";
                    case 4:
                        return "jsgrid-ready-item";
                    case 5:
                        return "jsgrid-passed-item";
                    case 6:
                        return "jsgrid-scanned-item";
                    case 7:
                        return "jsgrid-denied-item";
                    default:
                        return "jsgrid-default-item";
                }
            }
        });
    });
</script>




