{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Создать заказ
{% endblock %}

{% block style %}
    <style>
        .card-block {
            padding: 15px;
        }
        .card {
            margin: 10px 0px;
        }
    </style>
    <!--suppress ALL -->
    <script src='{% static 'js/jquery.min.js' %}' , integrity='' , crossorigin='anonymous'></script>
    <script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript">

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>

{% endblock %}

{% block content %}
    <div class="container" style="width: 85%">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Бронирование билетов</h1>
                <h3>{{ museum.name }}</h3>
                <br>
                <p class="badge badge-light" style="font-size: 1.2em;">1. Бронирование</p>&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="badge badge-light" style="font-size: 1.2em;">2. Оплата</p>&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="badge badge-dark" style="font-size: 1.2em;">3. Получение билетов</p>
                <hr/>
            </div>
        </div>
        <div class="row">
            <h3 style="padding-top: 2em;">Сохраните оплаченные билеты</h3>
        </div>
    </div>
    <script>

    </script>
{% endblock %}
{% block footer %}
{% endblock %}